.career-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--main-div-margin-top-5) !important;
}

.career-content-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.career-title {
    text-align: center;
    font-weight: var(--font-weight-600-bold) !important;
    font-size: var(--display-large-font-size-26) !important;
    line-height: var(--display-large-line-height-32) !important;
    color: var(--black-font-color);
}

.career-main-btn-div {
    margin: 0 0 10px 40px;
}

.career-hire-now-btn {
    font-size: var(--headline-medium-font-size-18) !important;
    font-weight: var(--font-weight-400-regular) !important;
    line-height: var(--headline-medium-line-height-24) !important;
    border-radius: var(--button-border-radius-50) !important;
    padding: var(--button-padding) !important;
    background: var(--button-background-linear-gradient);
    text-transform: capitalize !important;
    box-shadow: var(--button-box-shadow-background-color) !important;
}

@media (max-width: 1025px) {
    .career-title {
        font-size: var(--display-medium-font-size-24) !important;
        line-height: var(--display-medium-line-height-30) !important;
    }

    .career-hire-now-btn {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
        padding: var(--view-more-and-hire-now-button-responsive-padding) !important;
    }
}

@media (max-width: 768px) {
    .career-title {
        font-size: var(--display-small-font-size-22) !important;
        line-height: var(--display-small-line-height-28) !important;
    }

    .career-hire-now-btn {
        font-size: var(--title-large-font-size-14) !important;
        line-height: var(--title-large-line-height-20) !important;
        padding: var(--view-more-and-hire-now-button-responsive-padding) !important;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .career-main-div {
        margin: 7% 0 !important;
    }

    .career-content-div {
        flex-direction: column;
    }

    .career-main-btn-div {
        margin: 0;
    }

    .career-title {
        font-size: var(--headline-medium-font-size-18) !important;
        line-height: var(--headline-medium-line-height-24) !important;
    }

    .career-hire-now-btn {
        font-size: var(--title-large-font-size-14) !important;
        line-height: var(--title-large-line-height-20) !important;
        padding: var(--view-more-and-hire-now-button-responsive-padding) !important;
    }
}