.company {
    margin-top: 5%;

}

.comapny-text-card-div {
    border-radius: 0 !important;
    box-shadow: none !important;
}

.card-header span {
    font-size: var(--display-large-font-size-34);
    line-height: var(--display-large-line-height-40);
    font-weight: var(--font-weight-400-regular);
    color: var(--black-font-color);
}

.company-ellipse {
    height: 13px;
    margin: -45px 0;
}

.card-header {
    padding: 0 !important;
}


.card-content-div {
    padding: 0 !important;
    margin-top: 3%;
}

.card-content {
    font-size: var(--headline-medium-font-size-18) !important;
    line-height: var(--headline-medium-line-height-24) !important;
    color: var(--secondary-content-font-color) !important;
    font-weight: var(--font-weight-400-regular) !important;
    max-width: 600px;
}

.company-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-image {
    height: 400px;
    width: 400px;
    margin-top: -20px;
}

@media (max-width: 1025px) {
    .company-ellipse {
        height: 13px;
        margin: -45px 0;
    }
}

@media (max-width: 768px) {
    .card-header span {
        font-size: var(--display-large-font-size-30) !important;
        line-height: var(--display-large-line-height-36) !important;
    }

    .company-ellipse {
        height: 11px;
        margin: -40px 0;
    }

    .card-content {
        font-size: var(--title-large-font-size-14) !important;
        line-height: var(--title-large-line-height-20) !important;
    }

    .company-image {
        height: 300px;
        width: 300px;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .card-header span {
        font-size: var(--display-large-font-size-26) !important;
        line-height: var(--display-large-line-height-32) !important;
        padding: 0 20px;
    }

    .company-image-div {
        margin-top: 5%;
    }

    .company-ellipse {
        height: 10px;
        margin: 0 0 -36px 16px;
    }

    .card-content {
        font-size: var(--title-large-font-size-14) !important;
        line-height: var(--title-large-line-height-20) !important;
        text-align: justify;
        padding: 0 20px;
    }
}