:root {
    --company-details-menu-font-color: #5c5c5c;
    --project-menu-background-color: #F8FBFF;
    --project-menu-font-color-light-blue: #70ABE1;
    --clients-menu-background-color: #F2FFF4;
    --clients-menu-font-color-light-green: #70E182;
    --team-menu-background-color: #FFF8F8;
    --team-menu-font-color-light-tomato: #E17070;
    --support-menu-background-color: #FFFDFF;
    --support-menu-font-color-light-purple: #D25EE4;

    --menu-add-icon-font-size-44: 44px;
    --menu-add-icon-font-weight-bold: bolder;
}

.comapany-details-main-div {
    background-color: var(--primary-background-color);
    margin-top: 5%;
}

.left-side-section {}

.comapny-details-card-main-div {
    border: 0 !important;
    box-shadow: none !important;
    background-color: var(--primary-background-color) !important;
}

.comapny-details-card-main-header {
    color: var(--primary-color);
    padding: 0 !important;
}

.comapny-details-card-main-header span {
    font-size: var(--title-large-font-size-14);
}

.comapny-details-card-inner-header {
    padding: 0 !important;
}

.comapny-details-card-inner-header span {
    font-size: var(--display-large-font-size-34);
    line-height: var(--display-large-line-height-40);
    font-weight: var(--font-weight-400-regular);
    color: var(--black-font-color);
}

.comapny-details-card-content-div {
    padding: 0 !important;
}

.comapny-details-card-content-inner-div {
    padding-top: 10px !important;
    font-size: var(--headline-medium-font-size-18) !important;
    font-weight: var(--font-weight-400-regular) !important;
    line-height: var(--headline-medium-line-height-24) !important;
    color: var(--secondary-content-font-color) !important;
    max-width: 560px;
}

.right-side-section {
    background-color: var(--primary-background-color);
}

.main-projects-team-support-clients-div {
    height: 50vh;
    width: 100%;
}

.projects-clients-box-div {}

.projects-parent-div {}

.projects-child-div {
    height: 20vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--project-menu-background-color) !important;
    border-radius: var(--card-and-menu-border-radius-20) !important;
    border: 1px solid var(--project-menu-font-color-light-blue);
    box-shadow: none !important;
}

.projects-primary-content {
    font-size: 50px !important;
    font-weight: var(--font-weight-600-bold) !important;
    line-height: 64px !important;
    color: var(--project-menu-font-color-light-blue);

}

.projects-secondary-content {
    text-transform: uppercase;
    color: var(--company-details-menu-font-color);
    font-weight: var(--font-weight-600-bold) !important;
    font-size: var(--headline-medium-font-size-18) !important;
    line-height: 22px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-add-icon {
    font-size: var(--menu-add-icon-font-size-44) !important;
    font-weight: var(--menu-add-icon-font-weight-bold) !important;
    color: var(--project-menu-font-color-light-blue);
    padding: 0 !important;
    margin: 0 0 -4px -8px !important;

}

.clients-parent-div {}

.clients-child-div {
    height: 20vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clients-menu-background-color) !important;
    border-radius: var(--card-and-menu-border-radius-20) !important;
    border: 1px solid var(--clients-menu-font-color-light-green);
    margin: 11% 0 0 -2% !important;
    box-shadow: none !important;
}

.clients-primary-content {
    font-size: 50px !important;
    font-weight: var(--font-weight-600-bold) !important;
    line-height: 64px !important;
    color: var(--clients-menu-font-color-light-green);

}

.clients-secondary-content {
    text-transform: uppercase;
    color: var(--company-details-menu-font-color);
    font-weight: var(--font-weight-600-bold) !important;
    font-size: var(--headline-medium-font-size-18) !important;
    line-height: 22px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-add-icon {
    font-size: var(--menu-add-icon-font-size-44) !important;
    font-weight: var(--menu-add-icon-font-weight-bold) !important;
    color: var(--clients-menu-font-color-light-green);
    padding: 0 !important;
    margin: 0 0 -4px -8px !important;
}

.team-support-box-div {
    margin-top: 3%;
}

.team-parent-div {}

.team-child-div {
    height: 20vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--team-menu-background-color) !important;
    border-radius: var(--card-and-menu-border-radius-20) !important;
    border: 1px solid var(--team-menu-font-color-light-tomato);
    margin: 1% 0 0 18% !important;
    box-shadow: none !important;
}

.team-primary-content {
    font-size: 50px !important;
    font-weight: var(--font-weight-600-bold) !important;
    line-height: 64px !important;
    color: var(--team-menu-font-color-light-tomato);

}

.team-secondary-content {
    text-transform: uppercase;
    color: var(--company-details-menu-font-color);
    font-weight: var(--font-weight-600-bold) !important;
    font-size: var(--headline-medium-font-size-18) !important;
    line-height: 22px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-add-icon {
    font-size: var(--menu-add-icon-font-size-44) !important;
    font-weight: var(--menu-add-icon-font-weight-bold) !important;
    color: var(--team-menu-font-color-light-tomato);
    padding: 0 !important;
    margin: 0 0 -4px -8px !important;
}

.fourth-div-support {}


.support-parent-div {}

.support-child-div {
    height: 20vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--support-menu-background-color) !important;
    border-radius: var(--card-and-menu-border-radius-20) !important;
    border: 1px solid var(--support-menu-font-color-light-purple);
    margin: 11% 0 0 15% !important;
    box-shadow: none !important;
}

.support-primary-content {
    font-size: 50px !important;
    font-weight: var(--font-weight-600-bold) !important;
    line-height: 64px !important;
    color: var(--support-menu-font-color-light-purple);

}

.support-secondary-content {
    text-transform: uppercase;
    color: var(--company-details-menu-font-color);
    font-weight: var(--font-weight-600-bold) !important;
    font-size: var(--headline-medium-font-size-18) !important;
    line-height: 22px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.support-add-icon {
    font-size: var(--menu-add-icon-font-size-44) !important;
    font-weight: var(--menu-add-icon-font-weight-bold) !important;
    color: var(--support-menu-font-color-light-purple);
    padding: 0 !important;
    margin: 0 0 -4px -8px !important;
}

@media (max-width: 1025px) {
    .comapny-details-card-inner-header span {
        font-size: var(--display-large-font-size-30);
        line-height: var(--display-large-line-height-36);
    }

    .comapny-details-card-content-inner-div {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
    }

    .projects-child-div {
        height: 22vh;
        width: 65%;
    }

    .clients-child-div {
        height: 22vh;
        width: 65%;
        margin: 11% 0 0 -3% !important;
    }

    .team-child-div {
        height: 22vh;
        width: 65%;
        margin: 1% 0 0 19% !important;
    }

    .support-child-div {
        height: 22vh;
        width: 65%;
    }
}

@media (max-width: 768px) {
    .comapny-details-card-inner-header span {
        font-size: var(--display-medium-font-size-24);
        line-height: var(--display-medium-line-height-30);
    }

    .comapny-details-card-content-inner-div {
        font-size: var(--title-large-font-size-14) !important;
        line-height: var(--title-large-line-height-20) !important;
    }

    .projects-child-div {
        height: 22vh;
        width: 70%;
        margin: 0 0 0 15% !important;
    }

    .projects-primary-content {
        font-size: 42px !important;
        line-height: 58px !important;
    }

    .projects-add-icon {
        font-size: 38px !important;
        margin: 0 0 -5px -7px !important;
    }

    .projects-secondary-content {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
    }

    .clients-child-div {
        height: 22vh;
        width: 70%;
        margin: 10% 0 0 7% !important;
    }

    .clients-primary-content {
        font-size: 42px !important;
        line-height: 58px !important;
    }

    .clients-add-icon {
        font-size: 38px !important;
        margin: 0 0 -5px -7px !important;
    }

    .clients-secondary-content {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
    }

    .team-child-div {
        height: 22vh;
        width: 70%;
        margin: 0% 0 0 30% !important;
    }

    .team-primary-content {
        font-size: 42px !important;
        line-height: 58px !important;
    }

    .team-add-icon {
        font-size: 38px !important;
        margin: 0 0 -5px -7px !important;
    }

    .team-secondary-content {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
    }

    .support-child-div {
        height: 22vh;
        width: 70%;
        margin: 9% 0 0 22% !important;
    }

    .support-primary-content {
        font-size: 42px !important;
        line-height: 58px !important;
    }

    .support-secondary-content {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .comapny-details-card-main-header span {
        padding: 0 20px;
    }

    .comapny-details-card-inner-header span {
        font-size: var(--display-small-font-size-22);
        line-height: var(--display-small-line-height-28);
        padding: 0 20px;
    }

    .comapny-details-card-content-inner-div {
        font-size: var(--title-large-font-size-14) !important;
        line-height: var(--title-large-line-height-20) !important;
        text-align: justify;
        padding: 0 20px;
    }

    .main-projects-team-support-clients-div {
        height: 120vh;
    }

    .projects-primary-content {
        font-size: 42px !important;
        line-height: 48px !important;
    }

    .projects-add-icon {
        font-size: 40px !important;
        margin: 0 0 -5px -5px !important;
    }

    .projects-secondary-content {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
    }

    .projects-child-div {
        height: 23vh;
        width: 60%;
        margin: 5% auto auto auto !important;
    }

    .clients-primary-content {
        font-size: 42px !important;
        line-height: 48px !important;
    }

    .clients-add-icon {
        font-size: 40px !important;
        margin: 0 0 -5px -5px !important;
    }

    .clients-secondary-content {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
    }

    .clients-child-div {
        height: 23vh;
        width: 60%;
        margin: 5% auto auto auto !important;
    }

    .team-support-box-div {
        margin: 0;
    }

    .team-primary-content {
        font-size: 42px !important;
        line-height: 48px !important;
    }

    .team-add-icon {
        font-size: 40px !important;
        margin: 0 0 -5px -5px !important;
    }

    .team-secondary-content {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
    }

    .team-child-div {
        height: 23vh;
        width: 60%;
        margin: 5% auto auto auto !important;
    }

    .support-child-div {
        height: 23vh;
        width: 60%;
        margin: 5% auto auto auto !important;
    }

    .support-primary-content {
        font-size: 42px !important;
        line-height: 48px !important;
    }

    .support-secondary-content {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
    }
}