.company {
    margin-top: 5%;

}

.comapny-text-card-div {
    border-radius: 0 !important;
    box-shadow: none !important;
}

.card-header span {
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
}

.company-ellipse {
    height: 14px;
    margin: -47px 0;
}

.card-header {
    padding: 0 !important;
}


.card-content-div {
    padding: 0 !important;
    margin-top: 3%;
}

.card-content {
    font-size: 18px !important;
    line-height: 24px !important;
    color: #8E8E8E !important;
    font-weight: 400 !important;
    max-width: 600px;
}

.company-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-image {
    height: 400px;
    width: 400px;
    margin-top: -20px;
}

@media (max-width: 1025px) {
    .company-ellipse {
        height: 13px;
        margin: -45px 0;
    }
}

@media (max-width: 768px) {
    .card-header span {
        font-size: 30px !important;
        line-height: 36px !important;
    }

    .company-ellipse {
        height: 11px;
        margin: -40px 0;
    }

    .card-content {
        font-size: 14px !important;
        line-height: 20px !important;
    }

    .company-image {
        height: 300px;
        width: 300px;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .card-header span {
        font-size: 26px !important;
        line-height: 32px !important;
        padding: 0 20px;
    }

    .company-image-div {
        margin-top: 5%;
    }

    .company-ellipse {
        height: 10px;
        margin: 0 0 -36px 16px;
    }

    .card-content {
        font-size: 14px !important;
        line-height: 20px !important;
        text-align: justify;
        padding: 0 20px;
    }
}