:root {
    --footer-content-background-color: #E9D288;
}

.horizontal-line-div {
    width: 100%;
}

.hr-line {
    border-color: var(--primary-color) !important;
}

.footer {
    background-color: var(--primary-background-color);
}

.footer-main-div {
    background-color: var(--primary-background-color);
    margin: 5% 0;
}

.footer-logo-img {
    width: 30%;
}

.footer-descripton {
    font-size: var(--headline-small-font-size-16) !important;
    font-weight: var(--font-weight-400-regular) !important;
    line-height: var(--headline-small-line-height-22) !important;
    color: var(--secondary-content-font-color);
    margin-top: 2% !important;
    max-width: 550px;
}

.footer-inner-content-div {
    background-color: var(--footer-content-background-color);
    color: var(--white-font-color);
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-inner-content-div p {
    
    font-size: var(--headline-small-font-size-16);
    line-height: var(--headline-small-line-height-22);
    font-weight: var(--font-weight-400-regular);
}

@media (max-width: 1025px) {
    .footer-logo-img {
        width: 25%;
    }
}

@media (max-width: 768px) {
    .footer-logo-img {
        width: 32%;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .footer-logo-img {
        width: 45%;
    }

    .footer-descripton {
        font-size: 13px !important;
        line-height: 18px !important;
    }

    .footer-inner-content-div p {
        font-size: 13px;
        line-height: 18px;
    }
}