.horizontal-line-div {
    width: 100%;
}

.hr-line {
    border-color: #DAAF5A !important;
}

.footer {
    background-color: #FFFDF4;
}

.footer-main-div {
    background-color: #FFFDF4;
    margin: 5% 0;
}

.footer-logo-img {
    max-width: 30%;
}

.footer-descripton {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    color: #8E8E8E;
    margin-top: 2% !important;
    max-width: 550px;
}

.footer-inner-content-div {
    background-color: #E9D288;
    color: #FFFFFF;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-inner-content-div p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

/* @media (max-width: 1440px) {
    .footer-logo-img {
        width: 35%;
    }
} */

@media (max-width: 1025px) {
    .footer-logo-img {
        width: 26%;
    }
}

@media (max-width: 768px) {
    .footer-logo-img {
        width: 35%;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .footer-logo-img {
        width: 50%;
    }

    .footer-descripton {
        font-size: 13px !important;
        line-height: 16px !important;
    }

    .footer-inner-content-div p {
        font-size: 1px;
    }
}