#header .main-header-div {
    background-color: var(--white-background-color);
}

a {
    text-decoration: none !important;
}

#header .main-header {
    width: 100%;
    height: 88px;
    border-radius: 30px;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    background-color: var(--primary-background-color);
}

.header-logo {
    height: 9vh;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-link {
    color: var(--black-font-color) !important;
    background-color: transparent !important;
    font-size: var(--headline-medium-font-size-18) !important;
    font-weight: var(--font-weight-400-regular) !important;
    line-height: var(--headline-medium-line-height-24) !important;

    text-transform: capitalize !important;
}

.mobile-view-contact-us-menu {
    display: none;
}


.menu-ellipse {
    padding-left: 15px;
}

.contact-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-menu-btn {
    font-size: var(--headline-medium-font-size-18) !important;
    font-weight: var(--font-weight-400-regular) !important;
    line-height: var(--headline-medium-line-height-24) !important;
    border-radius: var(--button-border-radius-50) !important;
    padding: var(--button-padding) !important;
    background: var(--button-background-linear-gradient);
    text-transform: capitalize !important;
    box-shadow: var(--button-box-shadow-background-color) !important;
}

.mobile-navbar-hamburger-menu {
    display: none;

    .close-outline {
        display: none;
    }
}

.mobile-navbar-hamburger-menu[name="close-outline"] {
    display: none;
}

@media screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
    .header-logo {
        height: 6.7vh;
    }

    .contact-menu-btn {
        padding: 20px 45px !important;
    }
}

@media (max-width: 1440px) {
    .main-header {
        height: 75px !important;
    }

    .header-logo {
        height: 9vh;
    }

    .menu-link {
        font-size: var(--headline-medium-font-size-18) !important;
    }

    .contact-menu-btn {
        font-size: var(--headline-medium-font-size-18) !important;
        line-height: var(--headline-medium-line-height-24) !important;
        padding: 14px 40px 14px 40px !important;
    }
}

@media (max-width: 1025px) {
    .main-header {
        height: 70px !important;
    }

    .header-logo {
        height: 9vh;
    }

    .menu-ellipse img {
        width: 11px;
    }

    .menu-link {
        font-size: var(--headline-small-font-size-16) !important;
    }

    .contact-menu-btn {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--title-large-line-height-20) !important;
        padding: 14px 40px 14px 40px !important;
    }
}

@media (max-width: 768px) {
    .main-header {
        height: 58px !important;
    }

    .header-logo {
        height: 6.5vh;
    }

    .menu-link {
        font-size: var(--title-large-font-size-14) !important;
        line-height: var(--title-large-line-height-20) !important;
    }

    .menu-ellipse {
        padding-left: 5px;
    }

    .menu-ellipse img {
        width: 10px;
    }

    .contact-menu-btn {
        font-size: var(--title-large-font-size-14) !important;
        line-height: var(--title-large-line-height-20) !important;
        padding: 8px 15px 8px 15px !important;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .mobile-navbar-hamburger-menu {
        display: inline-block;
        z-index: 999;


        .mobile-nav-icon {
            font-size: 2rem;
            color: var(--primary-color);
        }
    }

    .menu-ellipse {
        display: none;
    }

    .mobile-view-contact-us-menu {
        display: inline-block;
    }

    /* hide the original nav menu */
    .main-header {
        padding: 10px 25px !important;

        .menu {
            width: 100vw !important;
            height: 100vh !important;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--primary-background-color);
            display: flex;
            align-items: center;
            justify-content: center;

            /* right side all menu links  */
            transition: 0.5s;
            visibility: hidden;
            opacity: 0;
            overflow-x: hidden;
        }


        .menu div {
            /* display menu links center in mobile view  */
            flex-direction: column;
            text-align: center;
        }

        .menu-link {
            margin: 0;
            font-size: var(--headline-large-font-size-20) !important;
            line-height: 34px !important;
        }

        .contact-menu {
            display: none;
        }
    }

    .active .mobile-nav-icon {
        display: none;
        font-size: 2rem;
        position: absolute;
        top: 6%;
        right: 7%;
        color: var(--primary-color);
        z-index: 9999;
    }

    .active .close-outline {
        display: inline-block;
    }

    .active .menu {
        visibility: visible;
        opacity: 1;
        z-index: 999;
    }

    .menu {
        overflow-x: hidden;
    }

}