.industries-card-items-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.industries-card-item-parent-div {
    height: 110px;
    width: 400px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--primary-background-color) !important;
    border-radius: var(--card-and-menu-border-radius-20) !important;
    border: 1px solid var(--card-border-color);
    margin: 5% 0 0 5%;
}

.industries-card-item-child-div {
    box-shadow: none !important;
    background-color: var(--primary-background-color) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}

.industries-card-img-div {}

.industries-card-each-item-image {
    height: 65px;
    width: 65px;
}

.industries-card-each-item-name {
    font-size: var(--headline-large-font-size-20) !important;
    line-height: var(--headline-large-line-height-26) !important;
    font-weight: var(--font-weight-400-regular) !important;
    text-align: center !important;
    color: var(--black-font-color) !important;
    margin-left: 15px !important;
}

@media (max-width: 1025px) {
    .industries-card-item-parent-div {
        height: 100px;
        width: 300px;
    }

    .industries-card-each-item-image {
        height: 60px;
        width: 60px;
    }

    .industries-card-each-item-name {
        font-size: var(--headline-medium-font-size-18) !important;
        line-height: var(--headline-medium-line-height-24) !important;
    }
}

@media (max-width: 768px) {
    .industries-card-item-parent-div {
        height: 100px;
        width: 290px;
    }

    .industries-card-each-item-image {
        height: 58px;
        width: 58px;
    }

    .industries-card-each-item-name {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .industries-card-item-parent-div {
        height: 90px;
        width: 280px;
    }

    .industries-card-each-item-image {
        height: 56px;
        width: 56px;
    }

    .industries-card-each-item-name {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
    }
}