.industries-main-div {
    margin-top: 5% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.industries-card-div {
    border: 0 !important;
    box-shadow: none !important;
    background-color: #FFFFFF !important;
}

.industries-card-main-header {
    padding: 0 !important;
}

.industries-card-main-header span {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.industries-card-content-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

.industries-card-content-inner-div {
    font-size: 24px !important;
    line-height: 28px !important;
    text-align: center;
}

.industries-list-div {
    margin-bottom: 5%;
}

@media (max-width: 1025px) {
    .industries-card-main-header span {
        font-size: 44px;
    }

    .industries-card-content-inner-div {
        font-size: 22px !important;
        line-height: 26px !important;
    }
}

@media (max-width: 768px) {
    .industries-card-main-header span {
        font-size: 42px;
    }

    .industries-card-content-inner-div {
        font-size: 20px !important;
        line-height: 28px !important;
    }
}