.portfolio-card-items-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-color) !important;
}

.portfolio-card-item-parent-div {
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-background-color) !important;
    border-radius: var(--card-and-menu-border-radius-20) !important;
    border: 1px solid var(--card-border-color);
    margin-top: 10%;
}

.portfolio-card-item-child-div {
    box-shadow: none !important;
    background-color: var(--white-background-color) !important;
}

.portfolio-card-each-item-image {
    height: 10vh;
    width: 100%;
}

.portfolio-card-each-item-name {
    font-size: var(--headline-large-font-size-20) !important;
    line-height: var(--headline-large-line-height-26) !important;
    font-weight: var(--font-weight-400-regular) !important;
    text-align: center !important;
    color: var(--black-font-color) !important;
    margin-top: 5px !important;
}

@media (max-width: 1440px) {
    .portfolio-card-item-parent-div {
        height: 190px;
        width: 210px;
    }
}

@media (max-width: 1025px) {
    .portfolio-card-item-parent-div {
        width: 200px;
        height: 180px;
    }

    .portfolio-card-each-item-name {
        font-size: var(--headline-medium-font-size-18) !important;
        line-height: var(--headline-medium-line-height-24) !important;
    }
}

@media (max-width: 768px) {
    .portfolio-card-item-parent-div {
        height: 175px;
        width: 200px;
    }

    .portfolio-card-each-item-name {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .portfolio-card-item-parent-div {
        height: 155px;
        width: 175px;
    }

    .portfolio-card-each-item-image {
        height: 11vh;
    }

    .portfolio-card-each-item-name {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
    }
}