.portfolio-card-items-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFDF4 !important;
}

.portfolio-card-item-parent-div {
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF !important;
    border-radius: 20px !important;
    border: 1px solid #E9D288;
    margin-top: 10%;
}

.portfolio-card-item-child-div {
    box-shadow: none !important;
    background-color: #FFFFFF !important;
}

.portfolio-card-each-item-image {
    height: 12vh;
    width: 100%;
}

.portfolio-card-each-item-name {
    font-size: 22px !important;
    line-height: 26px !important;
    font-weight: 400 !important;
    text-align: center !important;
    color: #000000 !important;
    margin-top: 5px !important;
}

@media (max-width: 1440px) {
    .portfolio-card-item-parent-div {
        height: 190px;
        width: 210px;
    }
}

@media (max-width: 1025px) {
    .portfolio-card-item-parent-div {
        width: 200px;
        height: 180px;
    }

    .portfolio-card-each-item-name {
        font-size: 20px !important;
        line-height: 24px !important;
    }
}

@media (max-width: 768px) {
    .portfolio-card-item-parent-div {
        height: 175px;
        width: 200px;
    }

    .portfolio-card-each-item-image {
        height: 12vh;
    }

    .portfolio-card-each-item-name {
        font-size: 20px !important;
        line-height: 24px !important;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .portfolio-card-item-parent-div {
        height: 155px;
        width: 175px;
    }

    .portfolio-card-each-item-image {
        height: 11vh;
    }

    .portfolio-card-each-item-name {
        font-size: 16px !important;
        line-height: 22px !important;
    }
}