.portfolio-parent-div {
    background-color: #FFFDF4;
}

.portfolio-main-div {
    margin-top: 5% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFDF4;
}

.portfolio-card-div {
    border: 0 !important;
    box-shadow: none !important;
    background-color: #FFFDF4 !important;
}

.portfolio-card-main-header {
    padding: 0 !important;
}

.portfolio-card-main-header span {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 34px;
    line-height: 40px;
    font-weight: 400;
}

.portfolio-card-content-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

.portfolio-card-content-inner-div {
    font-size: 20px !important;
    line-height: 26px !important;
    text-align: center;
    max-width: 750px;
}

.portfolio-view-more-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.portfolio-view-more-btn {
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    border-radius: 50px !important;
    padding: 13px 45px 13px 45px !important;
    background: linear-gradient(#E9D288 100%, #DAAF5A 100%);
    text-transform: capitalize !important;
    box-shadow: 4px 4px 4px 0 #FFE4AD !important;
}

@media (max-width: 1025px) {
    .portfolio-card-main-header span {
        font-size: 30px;
        line-height: 36px;
    }

    .portfolio-card-content-inner-div {
        font-size: 18px !important;
        line-height: 24px !important;
        max-width: 715px;
    }

    .portfolio-view-more-btn {
        font-size: 16px !important;
        line-height: 22px !important;
        padding: 10px 40px 10px 40px !important;
    }
}

@media (max-width: 768px) {
    .portfolio-card-main-header span {
        font-size: 42px;
    }

    .portfolio-card-content-inner-div {
        font-size: 20px !important;
        line-height: 28px !important;
    }

    .portfolio-view-more-btn {
        font-size: 20px !important;
        line-height: 26px !important;
        padding: 13px 45px 13px 45px !important;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .portfolio-card-main-header span {
        font-size: 28px;
        line-height: 40px;
    }

    .portfolio-card-content-inner-div {
        font-size: 14px !important;
        line-height: 18px !important;
    }

    .portfolio-view-more-btn {
        font-size: 15px !important;
        line-height: 22px !important;
        padding: 10px 40px 10px 40px !important;
    }
}