.portfolio-parent-div {
    background-color: var(--primary-background-color);
}

.portfolio-main-div {
    margin-top: var(--main-div-margin-top-5) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-color);
}

.portfolio-card-div {
    border: 0 !important;
    box-shadow: none !important;
    background-color: var(--primary-background-color) !important;
}

.portfolio-card-main-header {
    padding: 0 !important;
}

.portfolio-card-main-header span {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: var(--display-large-font-size-34);
    line-height: var(--display-large-line-height-40);
    font-weight: var(--font-weight-400-regular);
    color: var(--black-font-color);
}

.portfolio-card-content-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

.portfolio-card-content-inner-div {
    font-size: var(--headline-large-font-size-20) !important;
    line-height: var(--headline-large-line-height-26) !important;
    text-align: center;
    max-width: 750px;
    color: var(--secondary-content-font-color) !important;
}

.portfolio-view-more-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.portfolio-view-more-btn {
    font-size: var(--headline-medium-font-size-18) !important;
    font-weight: var(--font-weight-400-regular) !important;
    line-height: var(--headline-medium-line-height-24) !important;
    border-radius: var(--button-border-radius-50) !important;
    padding: var(--button-padding) !important;
    background: var(--button-background-linear-gradient);
    text-transform: capitalize !important;
    box-shadow: var(--button-box-shadow-background-color) !important;
}

@media (max-width: 1025px) {
    .portfolio-card-main-header span {
        font-size: var(--display-large-font-size-30);
        line-height: var(--display-large-line-height-36) ;
    }

    .portfolio-card-content-inner-div {
        font-size: var(--headline-medium-font-size-18) !important;
        line-height: var(--headline-medium-line-height-24) !important;
        max-width: 715px;
    }

    .portfolio-view-more-btn {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
        padding: var(--view-more-and-hire-now-button-responsive-padding) !important;
    }
}

@media (max-width: 768px) {
    .portfolio-card-main-header span {
        font-size: var(--display-large-font-size-26);
        line-height: var(--display-large-line-height-32);
    }

    .portfolio-card-content-inner-div {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
        max-width: 600px;
    }

    .portfolio-view-more-btn {
        font-size: var(--title-large-font-size-14) !important;
        line-height: var(--title-large-line-height-20) !important;
        padding: var(--view-more-and-hire-now-button-responsive-padding) !important;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .portfolio-card-main-header span {
        font-size: var(--display-small-font-size-22);
        line-height: var(--display-small-line-height-28);
    }

    .portfolio-card-content-inner-div {
        font-size: var(--headline-xs-small-font-size-15) !important;
        line-height: var(--headline-xs-small-line-height-21) !important;
    }

    .portfolio-view-more-btn {
        font-size: var(--title-large-font-size-14) !important;
        line-height: var(--title-large-line-height-20) !important;
        padding: var(--view-more-and-hire-now-button-responsive-padding) !important;
    }
}