.product-main-div {
    margin-top: 5%;
}

.products-image-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-image {
    height: 65px;
}

@media (max-width: 1025px) {
    .products-image {
        height: 60px;
    }
}

@media (max-width: 768px) {
    .products-image {
        height: 55px;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .products-image-div {
        padding: 10px 0;
    }

    .products-image {
        height: 50px;
    }
}