.services-card-items-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-card-item-parent-div {
    height: 45vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFDF4 !important;
    border-radius: 20px !important;
    border: 1px solid #E9D288;
    margin-top: 10%;
}

.services-card-item-child-div {
    box-shadow: none !important;
    background-color: #FFFDF4 !important;
}

.services-card-each-item-image {
    height: 13vh;
    width: 100%;
    margin-bottom: 15px;

}

.services-card-details {}

.services-card-details h4 {}

.service-card-each-item-name {
    font-size: 20px !important;
    line-height: 26px !important;
    font-weight: 400 !important;
    color: #000000 !important;
    max-width: min-content;
    margin: auto !important;
    text-align: center;
}

.services-card-each-item-description {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    text-align: center !important;
    color: #8E8E8E !important;
    margin-top: 15px !important;
    padding: 0 30px;
}

@media (max-width: 1440px) {
    .services-card-item-parent-div {
        height: 50vh;
        width: 80%;
    }
}

@media (max-width: 1025px) {

    .services-card-item-parent-div {
        height: 50vh;
        width: 75%;
    }

    /* .services-card-each-item-image {
        height: 13vh !important;
    } */

    .service-card-each-item-name {
        font-size: 18px !important;
        line-height: 24px !important;
    }

    .services-card-each-item-description {
        font-size: 15px !important;
        padding: 0px 10px;
    }
}

@media (max-width: 768px) {

    .services-card-item-parent-div {
        height: 48vh;
        width: 70%;
    }

    .services-card-each-item-image {
        height: 12vh !important;
    }

    .service-card-each-item-name {
        font-size: 22px !important;
    }

    .services-card-each-item-description {
        font-size: 14px !important;
        padding: 0px 12px;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .services-card-item-parent-div {
        height: 45vh;
        width: 70%;
    }

    .services-card-each-item-image {
        height: 10vh !important;
        margin-bottom: 10px !important;
    }

    .service-card-each-item-name {
        font-size: 20px !important;
        line-height: 22px !important;
    }

    .services-card-each-item-description {
        font-size: 15px !important;
        line-height: 20px !important;
        padding: 0px 14px;
        margin-top: 10px !important;
    }
}