.services-card-items-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-card-item-parent-div {
    height: 45vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-color) !important;
    border-radius: var(--card-and-menu-border-radius-20) !important;
    border: 1px solid var(--card-border-color);
    margin-top: 10%;
}

.services-card-item-child-div {
    box-shadow: none !important;
    background-color: var(--primary-background-color) !important;
}

.services-card-each-item-image {
    height: 13vh;
    width: 100%;
    margin-bottom: 15px;

}

.services-card-details {}

.services-card-details h4 {}

.service-card-each-item-name {
    font-size: var(--headline-large-font-size-20) !important;
    line-height: var(--headline-large-line-height-26) !important;
    font-weight: var(--font-weight-400-regular) !important;
    color: var(--black-font-color) !important;
    max-width: min-content;
    margin: auto !important;
    text-align: center;
}

.services-card-each-item-description {
    font-size: var(--headline-small-font-size-16) !important;
    font-weight: var(--font-weight-400-regular) !important;
    line-height: var(--headline-small-line-height-22) !important;
    text-align: center !important;
    color: var(--secondary-content-font-color) !important;
    margin-top: 15px !important;
    padding: 0 30px;
}

@media (max-width: 1440px) {
    .services-card-item-parent-div {
        height: 50vh;
        width: 80%;
    }
}

@media (max-width: 1025px) {

    .services-card-item-parent-div {
        height: 50vh;
        width: 75%;
    }

    .service-card-each-item-name {
        font-size: var(--headline-medium-font-size-18) !important;
        line-height: var(--headline-medium-line-height-24) !important;
    }

    .services-card-each-item-description {
        font-size: var(--headline-xs-small-font-size-15) !important;
        padding: 0px 10px;
    }
}

@media (max-width: 768px) {

    .services-card-item-parent-div {
        height: 48vh;
        width: 70%;
    }

    .services-card-each-item-image {
        height: 12vh !important;
    }

    .service-card-each-item-name {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
    }

    .services-card-each-item-description {
        font-size: var(--title-large-font-size-14) !important;
        line-height: var(--title-large-line-height-20) !important;
        padding: 0px 13px;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .services-card-item-parent-div {
        height: 45vh;
        width: 65%;
    }

    .services-card-each-item-image {
        height: 12vh !important;
        margin-bottom: 10px !important;
    }

    .service-card-each-item-name {
        font-size: var(--headline-small-font-size-16) !important;
        line-height: var(--headline-small-line-height-22) !important;
    }

    .services-card-each-item-description {
        font-size: var(--title-large-font-size-14) !important;
        line-height: var(--title-large-line-height-20) !important;
        padding: 0px 14px;
        margin-top: 10px !important;
    }
}